# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: diabetes-api-deployment
#   labels:
#     app: diabetes-api
# spec:
#   replicas: 1                          
#   selector:
#     matchLabels:
#       app: diabetes-api                
#   template:
#     metadata:
#       labels:
#         app: diabetes-api
#     spec:
#       containers:
#         - name: diabetes-api
#           image: diabetes-api:latest   
#           imagePullPolicy: IfNotPresent 
#           ports:
#             - containerPort: 8000     
#             - containerPort: 8501  
#           env:
#             - name: PYTHONUNBUFFERED
#               value: "1"
        
#           resources:
#             requests:
#               cpu: "100m"
#               memory: "256Mi"
#             limits:
#               cpu: "500m"
#               memory: "512Mi"

apiVersion: apps/v1
kind: Deployment
metadata:
  name: diabetes-app
  namespace: mlops-diabetes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: diabetes-app
  template:
    metadata:
      labels:
        app: diabetes-app
    spec:
      containers:
        - name: diabetes-app
          image: diabetes-api:latest
          imagePullPolicy: Never
          ports:
            - name: api
              containerPort: 8000
            - name: ui
              containerPort: 8501
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
