apiVersion: apps/v1
kind: Deployment
metadata:
  name: diabetes-api-deployment
  labels:
    app: diabetes-api
spec:
  replicas: 1                          
  selector:
    matchLabels:
      app: diabetes-api                
  template:
    metadata:
      labels:
        app: diabetes-api
    spec:
      containers:
        - name: diabetes-api
          image: diabetes-api:latest   
          imagePullPolicy: IfNotPresent 
          ports:
            - containerPort: 8000     
            - containerPort: 8501  
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
        
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
