# name: Deploy Diabetes App to Kubernetes

# on:
#   workflow_dispatch:
#   push:
#     branches: ["main"]

# jobs:
#   deploy:
#     runs-on: self-hosted

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       - name: Azure login (Service Principal)
#         shell: powershell
#         run: |
#           az login --service-principal `
#             -u "${{ secrets.AZURE_CLIENT_ID }}" `
#             -p "${{ secrets.AZURE_CLIENT_SECRET }}" `
#             --tenant "${{ secrets.AZURE_TENANT_ID }}"

#       - name: Set Azure subscription
#         shell: powershell
#         run: |
#           az account set --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}"

#       - name: Download latest registered model into repo ./model
#         shell: powershell
#         run: |
#           # Clean current model folder to avoid mixing old/new files
#           if (Test-Path ".\model") { Remove-Item ".\model" -Recurse -Force }
#           New-Item -ItemType Directory -Path ".\model" | Out-Null

#           # Download registered model (folder) from Azure ML
#           az ml model download `
#             --name diabetes-classification-model `
#             --version latest `
#             --download-path ".\model" `
#             --workspace-name "${{ secrets.AZUREML_WORKSPACE }}" `
#             --resource-group "${{ secrets.AZURE_RESOURCE_GROUP }}"

#           # If your train.py saved into model/model.pkl inside the downloaded folder,
#           # normalize it to ./model/model.pkl (what your inference expects)
#           if (Test-Path ".\model\model\model.pkl") {
#             Move-Item ".\model\model\model.pkl" ".\model\model.pkl" -Force
#             Remove-Item ".\model\model" -Recurse -Force
#           }

#           if (!(Test-Path ".\model\model.pkl")) {
#             Write-Error "model.pkl not found in ./model after download. Check train.py save path."
#           }

#           Get-ChildItem ".\model" -Recurse

#       - name: Configure kubeconfig path (Windows)
#         shell: powershell
#         run: |
#           $path = "$env:USERPROFILE\.kube\config"
#           Add-Content -Path $env:GITHUB_ENV -Value "KUBECONFIG=$path"
#           kubectl get nodes

#       - name: Build Docker image locally
#         shell: powershell
#         run: |
#           docker build -t diabetes-api:latest .

#       - name: Apply manifests
#         shell: powershell
#         run: |
#           kubectl apply -f k8s/namespace.yaml
#           kubectl apply -f k8s/deployment.yaml
#           kubectl apply -f k8s/service.yaml
#           kubectl -n mlops-diabetes rollout restart deployment/diabetes-app
#           kubectl -n mlops-diabetes rollout status deployment/diabetes-app
#           kubectl -n mlops-diabetes get svc,pods -o wide
#           Write-Host "FastAPI: http://localhost:30080/health"
#           Write-Host "UI:     http://localhost:30081"
